REPOSITORY_URI=TODO-REPO-URI
ECS_CLUSTER=TODO-OPTIONAL-ECS-CLUSTER
ECS_SERVICE=TODO-OPTIONAL-ECS-SERVICE

NODE_ENV=production
FRONTEND_PORT=80
BACKEND_PORT=3001
BACKEND_SOURCE=http://localhost
BACKEND_URL=${BACKEND_SOURCE}:${BACKEND_PORT}

POSTGRES_USER=TODO-YOUR-DB-USER
POSTGRES_PASSWORD=TODO-YOUR-DB-PASSWORD
POSTGRES_PORT=5432
POSTGRES_DB=TODO-YOUR-DB-NAME
POSTGRES_HOST=TODO-YOUR-DB-HOST

VITE_GOOGLE_MAPS_API_KEY=TODO-YOUR-GOOGLE-MAPS-API-KEY